html{
	font-size:30px;
	font-family:tahoma;
}

.Highlight:hover {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
}

.Hover:hover {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
}

.Links:hover {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius:25px;
}

body{
	background:url("../cards/Background.jpg") repeat;
}

header{
	opacity:0.98;
	text-align:center;
	border-style:solid;
	border-radius:50px 50px 0px 0px;
	background:url("../cards/Metal.jpg") repeat;
}

header ul{
	padding-left:0px
}

header li{
	margin:0px 6px;font-size:1.25em;
	list-style:none;
	display:inline-block;
	padding:5px 7px;
	border-radius:25px;
	background:url("../cards/contentMetal.png") repeat;
	box-shadow:1px 1px 5px #000;
}

header li a{
	text-decoration:none;
	color:#000;
}

#Interface span{
	background:url("../cards/Metal.jpg") repeat;
	padding: 2px;
	border-radius: 10px;
	box-shadow:1px 1px 5px #000;

}

.Subheader{
	opacity:0.98;
	text-align:center;
	padding:1px 1px;
	border-style:none solid;
	background:url("../cards/contentMetal.png") repeat;
}

.Subheader h1{
	opacity:1;
	margin:40px 0px
}

.Content{
	opacity:0.98;
	padding:1px;
	background:url("../cards/contentMetal.png") repeat;
	border-radius:0px 0px 50px 50px;
	border-style:none solid solid;
}

.Content .Input_Field{
	font-size:15px;
}

.Content .Rules{
	max-width:1368px;
	margin:10px auto 0px auto;
	padding:10px;
	-moz-column-count:3;
	-moz-column-gap:33%;
	-webkit-column-count:3;
	-webkit-column-gap:33%;
}

.Content .Rules h4{
	text-align:center;
	opacity:1;
}

.Content .Rules div{
	text-align:center;
}

.Content .Rules div a{
	color:#000;
	opacity:1;
}

.Content .About{
	width:50%;
	margin:0px auto;
	text-align:center;
	opacity:1;
}

.Content:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	padding-bottom:10px;
}

#Hand,#Books,#Interface{
	display:inline-block;
	opacity:1;
	width:33%;
	text-align:center;
	vertical-align:top;
}

#Hand p,#Hand label,#Books p,#Books label,#Interface p,#Interface label{
	opacity:1;
}

#Hand li,#Books li,#Interface li{
	list-style:none;
	display:inline-block;
	text-indent:-1.1875em;
	opacity:1;
}

#Results,#Opponent_Info{
	opacity:1;
	text-align:center;
	display:inline-block;
	width:49%;
	vertical-align:top;
}

#Opponent_Info ul{
	padding-left:0px;
}

#Opponent_Info li{
	list-style:none;
}

.Player_name,.Player_cards,.Player_books{
	font-family:fantasy;
}

footer{
	background-color: black;
	text-align:center;
	color:white;
}

footer a{
	text-decoration:none;color:#000;
}

@media screen and (max-width: 940px){
	.Content .Rules{
		-moz-column-count:2;
		-moz-column-gap:50%;
		-webkit-column-count:2;
		-webkit-column-gap:50%;
	}

	.Content #Hand,.Content #Books,.Content #Interface{
		width:50%;
	}

	.Content #Interface{
		margin:0px auto;
		display:inline;
	}
}

@media screen and (max-width: 650px){
	.Content .Rules{
		-moz-column-count:1;
		-moz-column-gap:100%;
		-webkit-column-count:1;
		-webkit-column-gap:100%;
		}

	.Content #Hand,.Content #Books,.Content #Interface,.Content #Results,.Content #Opponent_Info{
		width:100%;
	}
}
